# Python cache
__pycache__
*.pyc
*.pyo

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*

# Local development files
.vscode/
.idea/
*.swp

# Docker files
Dockerfile
docker-compose.yml