.banner-section, .article-outer-box{
  width: auto;
  height: auto;
}
/*Banner section*/
.banner-section .wp-block-column.is-vertically-aligned-center {
  position: relative;
  top: 50px;
  left: 12%;
}
h4.has-text-align-left {
  font: 600 14px var(--font-fira);
  border-radius: 30px;
  width: max-content;
}
h1.has-text-align-left {
  letter-spacing: 1px;
}
.banner-section p{
  font-size: 15px !important;
  text-align: left !important;
  letter-spacing: 0;
  margin-bottom: 20px !important;
}
.wp-block-buttons.alignleft, .wp-block-buttons.aligncenter, figure.aligncenter.size-large {
  border: none;
}
.banner-section a.wp-block-button__link:hover{
  background-color: #151414 !important;
}
/*Article section*/
.article-container, .article-outer-box {
  margin: 0 auto !important;
  max-width: 1100px !important; 
}
.article-outer-box {
  margin-bottom: 20px !important; 
}
h2.has-text-align-left{
  font-size: 30px;
  letter-spacing: 1px;
  margin-left: 0 !important;
}
h2.has-text-align-left:after{
  content: "";
  border-bottom: solid 3px #23cfca;
  position: absolute;
  left: 15px;
  width: 6%;
  margin-top: 40px;
}
.wp-block-column.article-section {
  background: #fff;
  border: solid 4px #e4e3ed;
}
.article-section:hover {
  border: solid 4px #23cfca;
}
.article-section:hover a.wp-block-button__link {
  background: #23cfca !important;
  color: #fff !important;
}
.wp-block-column.article-section img {
  position: relative;
  margin-top: -5em;
  width: 100%;
}
.article-section h3{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 40px !important;;
}
.article-section .wp-block-button {
  position: absolute;
  bottom: 15%;
  /*margin: 0 0 0px !important;
  transform: translateX(-50%);*/
}
.article-section a.wp-block-button__link{
  color: #b3b3c0 !important;
  font-weight: bold;
  letter-spacing: 1px;
}
.article-outer-box p{
  margin: 0 0 4em 0 !important; 
  text-align: left !important;
}
@media screen and (max-width:767px) {
  .banner-section .wp-block-columns.alignwide.are-vertically-aligned-center{
    flex-basis: 100%!important;
    margin: 0;
  }
  .banner-section h1 {
    font-size: 30px !important;
  }
  .banner-section .wp-block-column.is-vertically-aligned-center{
    position: static;
  }
  .wp-block-column.article-section img {
    position: static;
    margin-top: 0;  
  }
  .article-section .wp-block-button {
    position: static;
    bottom: 0;
    margin: 0 0 20px !important;
    transform: none;
  }
  .wp-block-column.article-section {
    margin-bottom: 20px;
  }
  .article-section h3 {
    margin: 0px 0px 15px 0px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 781px){
  .wp-block-column.article-section {
    margin-bottom: 5em;
  }
  .article-section .wp-block-button {
    position: static;
    bottom: 0;
    margin: 0 0 0px !important;
    transform: none;
  }
  .article-section h3 {
    margin: 0px 0px 15px 0px !important;
  }
  .article-section .wp-block-button {
    position: static;
    bottom: 0;
    margin: 0 0 20px !important;
    transform: none;
  }
}



